<% if flash[:name] %>
  <div id="success-message">
    <p>
      <strong>Parabéns!</strong> Seu voto para <strong><%= flash[:name] %></strong> foi enviado com sucesso.
    </p>
  </div>
<% end %>

<input type="hidden" id="first-candidate-votes" value="70" />
<input type="hidden" id="second-candidate-votes" value="80" />
<input type="hidden" id="deadline" value="1340051661000" />

<div id="score">
  <div class="avatar first-candidate"></div>
  <div class="avatar second-candidate"></div>

  <canvas id="chart" width="270" height="270"></canvas>

  <div id="countdown">
    <div id="countdown-wrapper">
      <p>FALTAM</p>
      <p id="clock">00:00:00</p>
      <p>PARA ENCERRAR A VOTAÇÃO</p>
    </div>
  </div>
</div>
<script src="js/score.js"></script>